/* fonts */
@font-face {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  src: local('Verdana Regular'), local('Veradana-Regular'),
       url('../fonts/Verdana.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Verdana.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Verdana';
  font-style: bold;
  font-weight: 700;
  src: local('Verdana Bold'), local('Veradana-Bold'),
       url('../fonts/Verdana-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Verdana-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fonts end */
body{
  font-family: 'Verdana';
  font-style: normal;
  font-size: 12px;
  line-height: 1.2;
  font-weight: normal;
  color:#000000;
}
img{
width: 100%;
height: auto;
}
.section__title{
  text-align: center;
  padding-bottom: 25px;
}
.volga__title{
  font-size: 18px;
  font-weight: 400;
}
.header__wrapper{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.header{ 
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}
.header__logo{
    margin-top: 22px;
}
.header__logo-pic{
    width: 132px;
    height: 80px;
}
.header__nav{
    margin-right: 15%;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.header__item{
    margin-right: 40px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__item:nth-child(5){
    margin-right: 76px;
    position: relative;
}
.header__item:nth-child(5):after{
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 12px;
    background: #000;
    top: 0;
    right: -37px;
}
.header__link{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}
.header__link:hover, .header__link:active, .header__link:focus{
    color: #000000;
    text-decoration: none;
    opacity: .8;
}
.header__burger{
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
  }
  .burger__line{
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background:#000;
  }
  .burger__line-top{
    top:0;
  }
  .burger__line-middle{
    top:50%;
    transform: translateY(-50%);
  }
  .burger__line-bottom{
    bottom: 0;
  }
  .cart__icon{
    display: none;
    width: 35px;
  }
  .cart__counter{
      display: none;
  }
/* intro */
  .intro{
    margin-top: 122px;
    padding-bottom: 85px
  }
  /* intro end */

  /* instagram */
.instagram{
  padding-bottom: 55px;
}
/* instagram end */

  /* blog */
  .live{
    padding-bottom: 35px;
    
}
.blog__wrapper{
    padding: 0;
}
.live__img{
    margin-bottom: 25px;
}
.live__img-pic{
    margin-bottom: 15px;
}
  /* blog end */

  /* products */
  .products{
    padding-bottom: 55px;
}
.product__card{
    margin-bottom: 38px;
    position: relative;
}
.product__img{
    margin-bottom: 15px;
}
.product__title{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.product__price{
    text-align: center;
}
.product__more-link{
    display: block;
    text-decoration: none;
    color:#000;
    border: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px 0;
    transition: .3s;
}
.product__more-link:hover, .product__more-link:active, .product__more-link:focus{
    color:#000;
    opacity: .8;
    text-decoration: none;
}
  /* products end */


  /* subscribe */

  .subscribe{
    padding-top: 115px;
    padding-bottom: 78px;
    background: url('../image/subscribe-bg.jpg') no-repeat center;
    background-size: cover;
    
}
.subscribe__title{
  font-size: 72px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  padding-bottom: 25px;
}
.subscribe__subtitle{
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  margin-bottom: 30px;
}
.subscribe-form__wrap{
  text-align: center;
}
.subscribe-form__btn{
  font-size: 12px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  padding: 13px;
}
.subscribe-form__field{
  font-size: 12px;
  color: #000;
  font-weight: 900;
  padding: 15px 10px 15px 10px;
  background: rgba(255,255,255, .75);
  border: none;
  margin-right: 15px;
}
.subscribe-form__field::placeholder{
  font-size: 12px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
   
}
  /* subscribe end */
  @media screen and (max-width: 767px){
    .header__burger{
      display: block;
    }
    .header__nav{
      width: 100%;
      height: 100%;
      position: fixed;
      top:0;
      left: 0;
      background:  #fff ;
      z-index: 100;
      padding: 75px;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      -webkit-transition: .3s all linear;
      -o-transition: .3s all linear;
      transition: .3s all linear;
  
    }
    .header__nav_active{
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
    }
    .header__item{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    .header__item:last-child{
      margin-bottom: 0;
    }
  
    .header__nav-close{
      width: 40px;
      height: 40px;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 110;
    }
    .header__nav-close-line{
      display: block;
      height: 2px;
      width: 100%;
      background: #000;
      position: absolute;
      top: 50%;
    }
    .header__nav-close-line:first-child{
      -webkit-transform: translateY(-50%) rotate(45deg);
          -ms-transform: translateY(-50%) rotate(45deg);
              transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child{
      -webkit-transform: translateY(-50%) rotate(-45deg);
          -ms-transform: translateY(-50%) rotate(-45deg);
              transform: translateY(-50%) rotate(-45deg);
    }
    .cart__icon{
        display: block;
        width: 35px;
      }
      .header__link{
        font-size: 22px;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        transition: .3s;
    }
    .header__link:hover, .header__link:active, .header__link:focus{
        color: #000;
        text-decoration: none;
        opacity: .8;
    }
    .cart__counter{
    display: block;
    text-align: center;
    background: #FF002D;
    color: #FFF;
    border-radius: 100%;
    width: 18px;
    font-size: 12px;
    position: absolute;
    top: 50px;
    right: 30px;
    }
    
    .subscribe__title{
      font-size: 36px;
      font-weight: 900;
      color: #ffffff;
      text-align: center;
      padding-bottom: 25px;
    }
    .subscribe__subtitle{
      font-size: 12px;
    }
    .subscribe-form__field{
      margin-bottom: 24px;
    }
}